{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to ModuleTrack</h1>
    <p class="lead">Track and manage your modules efficiently.</p>
    {% if user.is_authenticated %}
        <p class="lead">You are logged in as {{ user.username }}.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'pcb_type_list' %}" role="button">Manage PCB Types</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">Register</a>
    {% endif %}
</div>
{% endblock %}